body {
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный цвет фона */
}

.bg-opacity-20 {
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный цвет фона */
}

.bg-opacity-60 {
    background-color: rgba(0, 0, 0, 0.6); /* Прозрачный цвет фона */
}

.bg-opacity-0 {
    background-color: rgba(0, 0, 0, 0); /* Прозрачный цвет фона */
    transition: background-color 0.3s; /* Добавим плавный переход для hover */
}

.bg-opacity-0:hover {

}

.nav-link.active {
    background-color: rgba(0, 0, 0, 0.2);
}