body {
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный цвет фона */
}

.bg-opacity-20 {
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный цвет фона */
}

.bg-opacity-60 {
    background-color: rgba(0, 0, 0, 0.6); /* Прозрачный цвет фона */
}

.bg-opacity-0 {
    background-color: rgba(0, 0, 0, 0); /* Прозрачный цвет фона */
    transition: background-color 0.3s; /* Добавим плавный переход для hover */
}

.bg-opacity-0:hover {

}

.dark-hover {

}

.dark-hover:hover {
    background-color: rgba(0, 0, 80, 0.2);
}

.nav-link.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.center-block {

    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.index-div {
    display: inline-block;
    margin: 10px; /* добавьте отступы по вашему желанию */
}

.str-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.stretched {
    width: 100%;
    height: 100%;
}


.content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.text-dark-red {
    color: rgb(128,0,0);
}

.custom-flash-warning {
       background-color: rgb(255,222,173);
       border: 1px solid rgb(139,69,19);
}

.index-div {
    justify-content: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(255,255,240);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.statistics-btn {
    display: flex;
    justify-content: center;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255,255,240, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    width: 100%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(125,125,124);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    min-height: 300px;
    width: 100%;
}

.background-custom-light {
    background-color: rgba(255,255,240, 0.8);
}

/* Переопределение высоты заголовка аккордеона */
.accordion-header {
    background-color: rgba(255,255,240, 0);
    height: 30px; /* Здесь можно задать желаемую высоту в пикселях или другой единице измерения */
    /* Другие стили, если необходимо */
}

/* Изменение стиля кнопки в заголовке аккордеона */
.accordion-button {
    height: 30px;
    background-color: rgba(255,255,240, 0.8);
    /* Другие стили, если необходимо */
}

.nav-tabs .nav-item .nav-link {
    color: black;
}

/* Стили для активной закладки (ваш селектор) */
.nav-tabs .nav-item .nav-link.active {
    /* Ваши стили для активной закладки */
    background-color: rgba(255,255,240, 0); /* Пример: изменение цвета фона */
    border-bottom: solid black;
    border-width: 1px;
}