<div class="modal fade" id="delete_plan" tabindex="-1" aria-labelledby="delete_planLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete_planLabel">Удалить план</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-secondary">
                <div class="container">
                    Удалить : <b>{{plan.name}}</b> ?
                </div>
                <div class="container text-danger">
                    (восстановить удаленный план невозможно)
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a href="/plan_delete/{{plan.id}}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>