{% extends 'base.html' %}
{% block title %}
Текущее упражнение
{% endblock %}

{% block body %}

    <div class="center-block">
        <div class="content">
            <h3>{{exercise.name}}</h3>
            <hr>
            {% if exercise.target not in ['Кардио', 'Разминка', 'Пресс'] %}
            <div class="row mx-2">
                <span class="col-form-label">Рабочий вес</span>
            </div>
            {% endif %}
        <form action="/train_progress_next" method="post">
            <div class="row mx-2">

                <div class="col-6">
                    {% if exercise.target not in ['Кардио', 'Разминка', 'Пресс'] %}
                        <input type="number" name="weight" class="form-control" value="0">
                    {% endif %}
                </div>

                <div class="col-6 text-end">
                    <input type="submit" class="btn btn-success" value="Выполнил">
                </div>
            </div>
            <input type="hidden" name="ex_id" value="{{exercise.exercise_id}}">
            <input type="hidden" name="user_training_id" value="{{user_training.id}}">
            <input type="hidden" name="user_training_exercise_id" value="{{user_training_exercise.id}}">
        </form>

            <!--
            <div class="center-block m-3">
                <div class="image-placeholder justify-content-center align-items-center text-light">Тут будет картинка или описание</div>
            </div>
            -->
            <div class="row mt-4 mx-2">
                <div class="col-3">
                    <a href="/users_center" class="link-offset-1">Вернуться</a>
                </div>
                <div class="col">
                    <form action="/train_progress_skip" id="tps_form" method="post">
                        <a href="#" class="link-offset-1" onclick="document.getElementById('tps_form').submit(); return false;">Пропустить</a>
                        <input type="hidden" name="user_training_id" value="{{user_training.id}}">
                        <input type="hidden" name="user_training_exercise_id" value="{{user_training_exercise.id}}">
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}