{% extends 'base.html' %}
{% block title %}
Текущее упражнение
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="content">
            <h3>{{exercise.name}}</h3>
            <hr>
            {% if exercise.target not in ['Кардио', 'Разминка', 'Пресс'] and max_weight>0%}
            <div class="row mx-2">
                <div class="col">Вес в предыдущей тренировке: {{previous_weight}} кг</div>
                <div class="col">Максимальный вес в упражнении: {{max_weight}} кг</div>
            </div>
            {% endif %}
            {% if exercise.target not in ['Кардио', 'Разминка', 'Пресс'] %}
            <div class="row mx-2 mt-4">
                <div class="col fw-semibold">Выполняется с весом, кг</div>
            </div>
            {% endif %}

        <form action="/train_progress_next" method="post">
            <div class="row mx-2">

                <div class="col-6">
                    {% if exercise.target not in ['Кардио', 'Разминка', 'Пресс'] %}
                        <input type="number" name="weight" class="form-control" value="0">
                    {% endif %}
                </div>

                <div class="col-6 text-end">
                    <input type="submit" class="btn btn-success" value="Выполнил">
                </div>
            </div>
            <input type="hidden" name="ex_id" value="{{exercise.exercise_id}}">
            <input type="hidden" name="user_training_id" value="{{user_training.id}}">
            <input type="hidden" name="user_training_exercise_id" value="{{user_training_exercise.id}}">
        </form>


            <div class="row mt-4 mx-2">
                <div class="col-3">
                    <a href="/current_train" class="link-offset-1">Вернуться</a>
                </div>
                <div class="col">
                    <form action="/train_progress_skip" id="tps_form" method="post">
                        <a href="#" class="link-offset-1" onclick="document.getElementById('tps_form').submit(); return false;">Пропустить</a>
                        <input type="hidden" name="user_training_id" value="{{user_training.id}}">
                        <input type="hidden" name="user_training_exercise_id" value="{{user_training_exercise.id}}">
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}