{% extends 'base.html' %}
{% block title %}
Пользователь
{% endblock %}

{% block body %}


{% if not current_train %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="fs-3">
    <h1>У вас нет назначенных тренировок</h1>
    <p><a href="/plans_all">Назначить</a> тренировочный план. </p>
    </div>
</div>
{% endif %}

{% include "/modals/flash_mess.html" %}

{% if current_train %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="content">
        <h3>{{current_train.name}}</h3>
            <hr>
        {% for exercise in current_train_exlist %}
                        <div class="container p-20 m-2 fs-5 {% if exercise[4] %} text-secondary {% else %} text-success-emphasis fw-bold {% endif %}">
                                {{ exercise[0] }}: {{ exercise[1] }}x{{exercise[2] }} {% if exercise[4] %} <span class="fs-6"> (Завершено)</span> {% endif %}
                        </div>
                {% endfor %}
        <hr>
        <form action="/train_progress_start" method="post">
            <div class="container">
                <div class="row mt-3">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Выполнить">
                            <input type="hidden" name="train_id" value="{{ current_train.training_id }}">
                            <input type="hidden" name="user_id" value="{{ current_user.id }}">
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center text-center">
                        <div class="col border border-primary rounded-2 p-1 m-2">
                            <a href="/plans_all" class="str-link link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Другой план</a>
                        </div>

                        <div class="col border border-primary rounded-2 p-1 m-2">
                            <a href="/" class="str-link link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Главная</a>
                        </div>

                        <div class="col border border-danger rounded-2 p-1 m-2">
                            <a href="/user_complete_train/{{current_train.training_id}}" class="str-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Завершить</a>
                        </div>

                    </div>

            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}