{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block body %}
<form method="post">
    <div class="row mb-0">
        <div class="col-6">
            <h3> Редактирование :</h3>
        </div>
        <div class="col-6">
            {% if exercise.counter > 1 %}
                <a href="/list/ex{{ exercise.counter - 1 }}/edit" class="btn btn-info">Предыдущее</a>
            {% endif %}
            {% if exercise.counter < ex_len %}
                {% set next_counter = exercise.counter + 1 %}
                <a href="/list/ex{{ next_counter }}/edit" class="btn btn-info">Следующее</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-6">
            <h4>id{{exercise.exercise_id}} N{{exercise.counter}}: {{exercise.name}}</h4>
            <br><span>Название:</span>
            <input type="text" name="name" id="name" class="form-control" value="{{exercise.name}}"><br>
            <span>Описание:</span>
            <textarea name="description" id="description" class="form-control" rows="5">{{exercise.description}}</textarea><br>
            <span>Сложность (1-10):</span>
            <input type="number" name="difficulty" id="difficulty" class="form-control" value="{{exercise.difficulty}}"><br>
            <span>Время на подход (сек):</span>
            <input type="number" name="time_per_set" id="time_per_set" class="form-control" value="{{exercise.time_per_set}}"><br>
            <div class="row mb-3 align-items-center">
                <div class="col-9">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </div>
                <div class="col-3">
                    <a href="/list/ex{{exercise.counter}}/del" class="btn btn-outline-danger btn-sm">Удалить</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4>Мышцы в упражнении</h4>

            <ul class="nav flex-column">
              {% for mus in muscles %}
                <li class="nav-item mb-2">
                  <input type="checkbox" name="selected_muscles" id="mu{{mus.muscle_id}}" value="mu{{mus.muscle_id}}">
                  <label class="form-check-label" for="mu{{mus.muscle_id}}">{{mus.muscle_name}}</label>
                </li>
              {% endfor %}
            </ul>

        </div>
    </div>

</form>



{% endblock %}