{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block body %}
{% include "/modals/flash_mess.html" %}
<div class="d-flex justify-content-center align-items-center vh-100">
        <div class="">
            <div class="mb-2">
                <a href="/" class="stretched fs-5 fw-semibold btn btn-primary">Главная</a>
            </div>

            <div class="mb-2">
                <a href="/new_train" class="stretched fs-5 fw-semibold btn btn-secondary">Тренировки</a>
            </div>
            <div class="mb-2">
                <a href="/plans_all" class="stretched fs-5 fw-semibold btn btn-secondary">Планы</a>
            </div>
            {% if user.role == 'admin' %}
            <div class="mb-2">
                <a href="/migration" class="stretched fs-5 fw-semibold btn btn-secondary">База</a>
            </div>
            {% endif %}

        </div>
</div>


{% endblock %}