<div class="modal fade" id="delete_train" tabindex="-1" aria-labelledby="delete_trainLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete_trainLabel">Удалить тренировку</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-secondary">
                Удалить тренировку: <b>{{train.name}}</b> ?<br>
                (восстановить удаленную тренировку невозможно)



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>