<div class="modal fade" id="confirmAddPlan" tabindex="-1" aria-labelledby="confirmAddPlanLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="confirmAddPlanLabel">Добавление записи</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-secondary">
                <b>Добавить объект Плана</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Добавить запись</button>
            </div>
        </div>
    </div>
</div>