{% extends 'base.html' %}
{% block title %}
Новая тренировка
{% endblock %}

{% block body %}
<div class="mt-3">
    <h2>Создание новой тренировки</h2>

                    <form method="post">

                        <input type="text" name="train_name" id="train_name" class="form-control mb-2" required value="{{train_name}}" placeholder="Название тренировки(например фулбоди для новичка)">
                        <div class="mb-2 d-flex">
                            <div class="flex-grow-1">
                                <input type="submit" class="btn btn-success" value="Создать">
                            </div>
                            <div class="me-5">
                                <a href="/plans_all" class="1mx-3 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Планы</a>
                            </div>
                            <div class="">
                                <a href="/" class=" link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Главная</a>
                            </div>
                        </div>
                    </form>
    <hr>
    <div class="row mb-3 mt-3">

        <h3>Тренировки в базе</h3>
        {% for train in trains_list %}
        <div class="col-12">

            <a href="/edit_train/{{train.training_id}}">{{train.name}}</a>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


