{% extends 'base.html' %}
{% block title %}
Новый план
{% endblock %}

{% block body %}



        <h1>{{plan.name}}</h1>



<div class="row">
    <div class="col-6">
        Тренировки в плане
    </div>
    <div class="col-6">
        <ul class="nav flex-column mb-0">
            {% for train in trainings %}
            <li class="mb-0">
                <a href="#" class="nav-link link-underline link-underline-opacity-0 bg-opacity-0" data-bs-toggle="modal" data-bs-target="#modal_training_to_plan{{train.training_id}}">{{train.name}}</a>
                {% include "modal_training_to_plan.html" %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}