{% extends 'base.html' %}
{% block title %}
Планы
{% endblock %}

{% block body %}
<h1>Тренировочные планы</h1>

<form action="/plan_new" method="post">
    <div class="row mb-3">
        <div class="col-6">
            <input type="text" name="plan_name" id="plan_name" class="form-control" placeholder="Название нового плана (например: 3 дня, новичок, фулбоди)" required>
        </div>
        <div class="col-6">

        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Создать">
</form>


<hr>
<div class="row">
    <div class="col-6">
        <h5>Список тренировочных планов пользователя (для редактирования удаления просмотра и назначения)</h5>
        <div class="list-group" id="list-tab" role="tablist">

          <a class="nav-link active link-underline link-underline-opacity-0 bg-opacity-0" data-bs-toggle="list" href="#plan{{plans[0].id}}" role="tab">{{plans[0].name}}</a>
          <a class="nav-link link-underline link-underline-opacity-0 bg-opacity-0" data-bs-toggle="list" href="#plan2" role="tab">Назвавние плана2</a>
          <a class="nav-link link-underline link-underline-opacity-0 bg-opacity-0" data-bs-toggle="list" href="#plan3" role="tab">Messages</a>
          <a class="nav-link link-underline link-underline-opacity-0 bg-opacity-0" data-bs-toggle="list" href="#plan4" role="tab">Settings</a>
        </div>
    </div>


    <div class="col-6">



        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="plan1" role="tabpanel">
                <h5>Назвавние плана1 - Тренировки в плане</h5>
                <a href="#" class="btn btn-success">Назначить</a>
                <a href="#" class="btn btn-outline-primary">Редактировать</a>
                <hr>
              Тренировка1 <br>
              Тренировка2
          </div>
          <div class="tab-pane fade" id="plan2" role="tabpanel">
              <h5>Назвавние плана2 - Тренировки в плане</h5>
                <a href="#" class="btn btn-success">Назначить</a>
                <a href="#" class="btn btn-outline-primary">Редактировать</a>
                <hr>
              Тренировка3 <br>
              Тренировка4
          </div>
          <div class="tab-pane fade" id="plan3" role="tabpanel" >3333</div>
          <div class="tab-pane fade" id="plan4" role="tabpanel" >4444</div>
        </div>
    </div>
</div>




{% endblock %}