{% extends 'base.html' %}
{% block title %}
Статистика
{% endblock %}

{% block body %}
{% include "/modals/flash_mess.html" %}
<form action="/statistics/exercises" method="post">
<a href="/statistics" class="statistics-btn d-inline-flex p-2 fw-bold fs-6 link-underline link-underline-opacity-0">
    Тренировки ({{ completed_trainings|length + uncompleted_trainings|length }})
</a>

    <input type="submit" class="statistics-btn d-inline-flex p-2 fw-bold text-primary fs-6 link-underline link-underline-opacity-0" value="Упражнения">
    <input type="hidden" name="user_id" value="{{user.id}}">


<a href="#" class="statistics-btn d-inline-flex p-2 fw-bold fs-6 link-underline link-underline-opacity-0">
    Прогресс весов
</a>
</form>


{% for ut in uncompleted_trainings %}
<div class="row mt-3 text-success fw-semibold">
<div class="col">
    {{ ut[0].name }}
</div>

</div>
{% endfor %}
<hr>

{% for ct in completed_trainings %}
<div class="container mb-2 background-custom-light rounded-3">


    <div class="row mb-1 text-secondary fw-semibold">
        <div class="col col-md-auto">
            {{ct[3]}}
        </div>
        <div class="col">
            {{ ct[0].name }}
        </div>
    </div>
    <div class="row mb-1 text-secondary">
        <div class="col">
            Упражнений: {{ct[2]}} <a href="/statistics/details/{{ct[1]}}" >(просмотр)</a>
        </div>

        <div class="col">
            <a href="/statistics/delete/{{ct[1]}}">Удалить</a>
        </div>
    </div>
</div>
{% endfor %}





{% endblock %}