{% extends 'base.html' %}
{% block title %}
Статистика
{% endblock %}

{% block body %}
<div class="mb-3">
<form action="/statistics/exercises" method="post">
<a href="/statistics" class="statistics-btn d-inline-flex p-2 fw-bold fs-6 link-underline link-underline-opacity-0">
    Тренировки ({{trains_count}})
</a>
<a href="/" class="statistics-btn d-inline-flex p-2 fw-bold fs-6 link-underline link-underline-opacity-0">
    Главная
</a>

    <input type="hidden" name="user_id" value="{{user_id}}">
    <input type="hidden" name="trains_count" value="{{trains_count}}">

</form>
</div>

<!-- [[55, 'Разогрев+ разминка (10 минут)', 4, 1, [{'date': '28-08-2023 10:03:04', 'weight': 0, 'skipped': False}, -->


{% for exercise in exercises_struct %}

<div class="accordion mb-1 " id="accordionPanelsStayOpenExample{{exercise[0]}}">
  <div class="accordion-item background-custom-light">
    <h2 class="accordion-header">
      <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{exercise[0]}}" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        {{exercise[1]}} ({{exercise[2]}}{% if exercise[3]>0 %}/<span class="text-danger">{{exercise[3]}}</span>{% endif %})
      </div>
    </h2>
    <div id="panelsStayOpen-collapse{{exercise[0]}}" class="accordion-collapse collapse">
      <div class="accordion-body">
          <div class="row fw-semibold">
              <div class="col">Дата</div>
              <div class="col">Вес</div>
              <div class="col">Выполнение</div>
          </div>
          <hr>
          {% for data in exercise[4] %}
          <div class="row">
              <div class="col">{{data.date}}</div>
              <div class="col">{% if data.weight>0 %}{{data.weight}}кг{% else %}--{% endif %}</div>
              <div class="col">{% if data.skipped %}<span class="text-danger">Пропущено</span>{% else %}<span class="text-success">Завершено</span>{% endif %}</div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}