{% extends 'base.html' %}
{% block title %}
Тренировки
{% endblock %}

{% block body %}

<h1>Создание единичной тренировки</h1>

<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal_filters">Фильтры для упражнений</button>

<form method="post">

    <div class="row mb-2">
        <div class="col-6">
            Упражнение (выпадающий список через фильтры) <br>

            <select name="select_exercise" id="select_exercise" class="form-select form-select-md mb-3 me-2" aria-label=".form-select-md example">>
                {% for ex in exercises %}
                    <option value="{{ex.exercise_id}}">{{ex.name}} ({{ex.target}})
                {% endfor %}
            </select>

            <div class="row mb-2">
            <div class="col-3">
                Подходы <br>
                <input type="number" name="sets" id="sets" class="form-control mb-2">
            </div>
            <div class="col-3">
                Повторения <br>
                <input type="number" name="reps" id="reps" class="form-control mb-2"><br>
            </div>
            <div class="col-3">
                <a href="/train/add_ex/{{exercises[0].exercise_id}}" id="add_link" class="btn btn-outline-success">Добавить упражнение</a>
            </div>
            </div>



        </div>
        <div class="col-6">
            Название тренировки(например фулбоди для новичка) <br>
            <input type="text" name="name" id="name" class="form-control mb-2">
            Упражнения в тренировке
            <hr>
            {% for ex in exercises_in_train %}
                <a href="/train_remove_ex_{{loop.index-1}}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-block">{{ ex.name }}</a>
            {% endfor %}
            <br>
        <input type="submit" class="btn btn-success" value="Сохранить">
        </div>
    </div>

</form>

<form method="post" action="/usefilter">
        <!-- Модальное окно подтверждения удаления -->
        {% include 'modal_filters.html' %}
</form>


<script>

    const add_link = document.getElementById('add_link');
    const select_exercise = document.getElementById('select_exercise');

    select_exercise.addEventListener('change', function() {
        const selectedValue = select_exercise.value;

        const url = "/train/add_ex/"+selectedValue;

        add_link.href = url;
  });
</script>


{% endblock %}


