{% extends 'base.html' %}
{% block title %}
Пользователь
{% endblock %}

{% block body %}


{% if not current_train %}
    <h2>У вас нет назначенных тренировок</h2>
    <p>Назначить тренировочный план можно на вкладке <a href="/plans_all">Планы</a></p>
{% endif %}

{% include "/modals/flash_mess.html" %}

{% if current_train %}
<div class="center-block ">
    <div class="content">
        <h3>{{current_train.name}}</h3>
            <hr>
        {% for exercise in current_train_exlist %}
                        <div class="container p-20 m-2 fs-5">
                                {{ exercise[0] }}: {{ exercise[1] }}x{{exercise[2] }}
                        </div>
                {% endfor %}
        <hr>
        <form action="/train_progress_start" method="post">
            <div class="container">
                    <div class="row mt-3">
                        <div class="col-4">
                            <a href="/plans_all" class="btn btn-primary">Другой</a>
                        </div>
                        <div class="col-4 text-end">
                            <input type="submit" class="btn btn-success" value="Выполнить">
                            <input type="hidden" name="train_id" value="{{ current_train.training_id }}">
                            <input type="hidden" name="user_id" value="{{ current_user.id }}">
                        </div>
                        <div class="col-4 text-end">
                            <a href="/user_complete_train/{{current_train.training_id}}" class="link-offset-1">Завершить</a>
                        </div>

                    </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}